<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Song recognizer</h1>

    <h2>Search song by name:</h2>
    <form action="{{ url_for('text_search') }}" method="post">
      <input type="text" name="data" />
      <input type="submit" />
    </form>

    <h2>Search song by mp3 file</h2>
    <form action="{{ url_for('file_search') }}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".mp3"/>
      <input type="submit" />
  </body>
</html>
